<div class="row" id="header" #header>
    <div class="col-12 col-lg-4 mt-5 mb-5 d-flex justify-content-center align-items-center">
        <img src="../../../assets/logo-app.png" alt="Logo no disponible">
        <a routerLink="" routerLinkActive="active"><h4>Valki Weather App</h4></a>
    </div>
        
    <div class="col-12 col-lg-8 mt-5 mb-5 d-flex justify-content-center align-items-center">
        <app-search (setWeatherDescription)="sendWeatherDescription($event)"></app-search>
    </div>
</div>