<div class="row control">
    <div class="col-12 col-lg-12 mt-5">
        <div *ngIf="getForecast; else cardWithoutData">
            <div class="row d-flex justify-content-around">
                <div class="col-12 col-lg-2 col-md-6">
                    <div class="card mb-5">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 col-lg-12">
                                    <h4>Día {{firstDayForecast[0].dt_txt | date : "dd/MM"}}</h4>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-12 col-lg-12 d-flex justify-content-around align-items-center">
                                    <h4>{{(maxFirstTemp - 273).toFixed(0)}}º / {{(minFirstTemp - 273).toFixed(0)}}º</h4>
                                    <img src="http://openweathermap.org/img/wn/{{firstDayForecast[5].weather[0].icon}}@2x.png" alt="Imagen no disponible">
                                </div>
                            </div>  
                            <div class="row">
                                <div class="col-12 col-lg-12">
                                    <div class="accordion accordion-flush mb-2" id="accordionFlushExample">
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="flush-headingOne">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                                Por hora
                                                </button>
                                            </h2>
                                            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                                <div class="accordion-body d-flex align-items-center justify-content-around" *ngFor="let forecast of firstDayForecast">
                                                    <p class="me-2">{{forecast.dt_txt | date: "HH:mm"}}</p>
                                                    <p class="temperatura"><b>{{(forecast.main.temp - 273).toFixed(0)}}º</b></p>
                                                    <p><img class="iconoHora" src="http://openweathermap.org/img/wn/{{forecast.weather[0].icon}}@2x.png" alt=""></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>                          
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-2 col-md-6">
                    <div class="card mb-5">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 col-lg-12">
                                    <h4>Día {{secondDayForecast[0].dt_txt | date : "dd/MM"}}</h4>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-12 col-lg-12 d-flex justify-content-around align-items-center">
                                    <h4>{{(maxSecondTemp - 273).toFixed(0)}}º/{{(minSecondTemp - 273).toFixed(0)}}º</h4>
                                    <img src="http://openweathermap.org/img/wn/{{secondDayForecast[5].weather[0].icon}}@2x.png" alt="Imagen no disponible">
                                </div>
                            </div> 
                            <div class="row">
                                <div class="col-12 col-lg-12">
                                    <div class="accordion accordion-flush mb-2" id="accordionFlushExample">
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="flush-headingTwo">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                                Por hora
                                                </button>
                                            </h2>
                                            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                                                <div class="accordion-body d-flex align-items-center justify-content-around" *ngFor="let forecast of secondDayForecast">
                                                    <p class="me-3">{{forecast.dt_txt | date: "HH:mm"}}</p>
                                                    <p class="me-3 temperatura"><b>{{(forecast.main.temp - 273).toFixed(0)}}º</b></p>
                                                    <p class="me-3"><img class="iconoHora" src="http://openweathermap.org/img/wn/{{forecast.weather[0].icon}}@2x.png" alt=""></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>                             
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-2 col-md-6">
                    <div class="card mb-5">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 col-lg-12">
                                    <h4>Día {{thirdDayForecast[0].dt_txt | date : "dd/MM"}}</h4>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-12 col-lg-12 d-flex justify-content-around align-items-center">
                                    <h4>{{(maxThirdTemp - 273).toFixed(0)}}º/{{(minThirdTemp - 273).toFixed(0)}}º</h4>
                                    <img src="http://openweathermap.org/img/wn/{{thirdDayForecast[5].weather[0].icon}}@2x.png" alt="Imagen no disponible">
                                </div>
                            </div> 
                            <div class="row">
                                <div class="col-12 col-lg-12">
                                    <div class="accordion accordion-flush mb-2" id="accordionFlushExample">
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="flush-headingThree">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                                Por hora
                                                </button>
                                            </h2>
                                            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                                                <div class="accordion-body d-flex align-items-center justify-content-around" *ngFor="let forecast of thirdDayForecast">
                                                    <p class="me-3">{{forecast.dt_txt | date: "HH:mm"}}</p>
                                                    <p class="me-3 temperatura"><b>{{(forecast.main.temp - 273).toFixed(0)}}º</b></p>
                                                    <p class="me-3"><img class="iconoHora" src="http://openweathermap.org/img/wn/{{forecast.weather[0].icon}}@2x.png" alt=""></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>                            
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-2 col-md-6">
                    <div class="card mb-5">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 col-lg-12">
                                    <h4>Día {{fourthDayForecast[0].dt_txt | date : "dd/MM"}}</h4>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-12 col-lg-12 d-flex justify-content-around align-items-center">
                                    <h4>{{(maxFourthTemp - 273).toFixed(0)}}º/{{(minFourthTemp - 273).toFixed(0)}}º</h4>
                                    <img src="http://openweathermap.org/img/wn/{{fourthDayForecast[5].weather[0].icon}}@2x.png" alt="Imagen no disponible">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-lg-12">
                                    <div class="accordion accordion-flush mb-2" id="accordionFlushExample">
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="flush-headingFour">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                                                Por hora
                                                </button>
                                            </h2>
                                            <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                                                <div class="accordion-body d-flex align-items-center justify-content-around" *ngFor="let forecast of fourthDayForecast">
                                                    <p class="me-3">{{forecast.dt_txt | date: "HH:mm"}}</p>
                                                    <p class="me-3 temperatura"><b>{{(forecast.main.temp - 273).toFixed(0)}}º</b></p>
                                                    <p class="me-3"><img class="iconoHora" src="http://openweathermap.org/img/wn/{{forecast.weather[0].icon}}@2x.png" alt=""></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>                              
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-2 col-md-12">
                    <div class="card mb-5">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 col-lg-12">
                                    <h4>Día {{fifthDayForecast[0].dt_txt | date : "dd/MM"}}</h4>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-12 col-lg-12 d-flex justify-content-around align-items-center">
                                    <h4>{{(maxFifthTemp - 273).toFixed(0)}}º/{{(minFifthTemp - 273).toFixed(0)}}º</h4>
                                    <img src="http://openweathermap.org/img/wn/{{fifthDayForecast[fifthDayForecast.length - 1].weather[0].icon}}@2x.png" alt="Imagen no disponible">
                                </div>
                            </div>  
                            <div class="row">
                                <div class="col-12 col-lg-12">
                                    <div class="accordion accordion-flush mb-2" id="accordionFlushExample">
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="flush-headingFifth">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFifth" aria-expanded="false" aria-controls="flush-collapseFifth">
                                                Por hora
                                                </button>
                                            </h2>
                                            <div id="flush-collapseFifth" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                                                <div class="accordion-body d-flex align-items-center justify-content-around" *ngFor="let forecast of fifthDayForecast">
                                                    <p class="me-3">{{forecast.dt_txt | date: "HH:mm"}}</p>
                                                    <p class="me-3 temperatura"><b>{{(forecast.main.temp - 273).toFixed(0)}}º</b></p>
                                                    <p class="me-3"><img class="iconoHora" src="http://openweathermap.org/img/wn/{{forecast.weather[0].icon}}@2x.png" alt=""></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ng-template #cardWithoutData>
            <div class="col-12 col-lg-12 mt-1 d-flex justify-content-center">
                <div class="card mt-1 nonData">
                    <div class="card-body d-flex align-items-center">
                        <h2 class="text-center">Busca una ubicación para obtener datos</h2>
                    </div>
                </div>
            </div>
        </ng-template>
    </div>
</div>