.control {
    margin: 0%;
}

.card {
    background: rgba(54, 82, 121, 0.467);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: white !important;
}

.accordion-item {
    background: rgba(54, 82, 121, 0.467) !important;
    color: white !important;
    border-radius: 16px;
}

.accordion-button {
    background: rgba(54, 82, 121, 0.467) !important;
    color: white !important;
    border-radius: 16px !important;
    
}

.iconoHora {
    width: 50px !important;
}

.nonData {
    background: rgba(54, 82, 121, 0.467);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: white;
    min-height: 300px;
    width: 600px;
}

.temperatura {
    font-size: x-large;
}