.rojo {
    border: 1px solid red;
}

.card {
    background: rgba(54, 82, 121, 0.467);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: white;
}



.accordion-item {
    background: rgba(54, 82, 121, 0.467) !important;
    color: white;
}

.accordion-button {
    background: rgba(54, 82, 121, 0.467) !important;
}

.iconoHora {
    width: 50px !important;
}

.temperatura {
    font-size: x-large;
}