button {
    width: 200px !important;
}

.card {
    background: rgba(54, 82, 121, 0.467);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: white;
    /* min-height: 300px; */
}

.info {
    background: rgba(54, 82, 121, 0.467);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: white;
    min-height: 300px;
    width: 600px;
}

h1 {
    font-size: xxx-large;
}

img {
    width: 120px;
}

.rojo {
    border: 1px solid red;
}

.spinner {
    width: 6px;
    height: 6px;
    animation: spinner-xp626r 1.1s infinite;
    border-radius: 50%;
    box-shadow: 24px 0 0 6px #004dff, -24px 0 0 6px #004dff;
}
   
@keyframes spinner-xp626r {
    to {
     transform: rotate(360deg);
    }
}

@media (max-width: 992px) {
    .history {
        width: 620px;
    }
}

@media (max-width: 576px) {
    .info {
        width: 400px;
    }
    .history {
        width: 420px;
    }
}