a {
    color: white;
}
a:hover{color: white; font-weight: bold; background-color: rgb(25, 44, 76) !important; border-radius: 5px;}

a:visited {
    color: white;
}


.navbar {
    background-color: rgb(29, 53, 93) !important;
}

.nublado{
    background-color: rgb(40, 58, 89) !important;
}