<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-lg-12 mt-4 mb-2 d-flex justify-content-around align-items-center">
            <p>Retribución a <a href="https://openweathermap.org/api"><img class="ms-2" src="../../../assets/logo_white_cropped.png" alt="Imagen no disponible" width="100"></a></p> 
        </div>
        <div class="col-12 col-lg-12 d-flex justify-content-center align-items-center">
            <p>© Copyright TWC Product and Technology LLC 2014, 2022</p>
        </div>
        <div class="col-12 col-lg-12 d-flex flex-column justify-content-center">
            <a class="text-center" href=""><img src="../../../assets/VIKINGA VAKANA FINAL-03.png" alt="Logo no disponible" width="80px"></a>
            <p class="text-center">Valki_dev</p>          
        </div>
    </div>
</div>